{% if validlink %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Change my password</button>
    </form>
{% else %}
    <p>The password reset link was invalid, possibly because it has already been used.</p>
    <p>Please, request a new password reset.</p>
{% endif %}